@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto:wght@400;700&display=swap');

#bootstrap-override label, #bootstrap-override p, #bootstrap-override a, #bootstrap-override li{
    font-family:'Roboto', sans-serif;
}


.heading{
	
    padding-top:30px;
    padding-bottom:30px;
    background-color:#000000;

}

.heading h2, h5{
    font-family: 'IBM Plex Mono', monospace;
}

#headingBox{
    background-color:#fff;
    color:#000;
    font-size:24px;
    padding-top:25px;
    padding-bottom:25px;
    z-index:1000;
}

.line{
    background-color:#fff;
    height:4px;
    margin-left:-9px;
    width:100%;
    position:absolute;
    z-index:0;
}

#errorSpot{
    z-index:10000000;
    position:fixed;
    top:30%;
    left: 50%;
    transform: translateX(-50%);
}

#criteriaBox, #booksBox{
    height: 61vh;
    overflow-y:scroll;
}

/* Scroll bar from https://codepen.io/aurer/pen/kGRNVw */

#criteriaBox::-webkit-scrollbar, #booksBox::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

#criteriaBox::-webkit-scrollbar-track, #booksBox::-webkit-scrollbar-track{
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

#criteriaBox::-webkit-scrollbar-thumb, #booksBox::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

#criteriaBox::-webkit-scrollbar-thumb:hover, #booksBox::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
}

#criteriaBox::-webkit-scrollbar-thumb:active, #booksBox::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.9);
}

#criteria{

    border:1px solid #dbdbdb;

}

#bookList{
    border:1px solid #dbdbdb;
    padding:4px;
}

#bookList a{
    color:rgb(25, 76, 124);
    text-decoration:none;
    font-weight:bold;
}

#bookList a:hover{
    text-decoration:underline solid;
}

#shelfChoicesMandatory input, #shelfChoices input{
    margin-right:3px;
}

.shelfTables{
    table-layout: fixed;
}

.shelfTables td{
    width:10%;
}

/* Button style from https://codepen.io/thelaazyguy/pen/mMVEmL */
#submitButton{
    font-family: 'Roboto', sans-serif;
    padding:10px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #0275d8;
    background: #fff;
    color: #0275d8;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    transition: all .35s;
    
    position: absolute;
    margin-top:30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#submitButton:hover{
    background: #000;
    color: #fff;
    border: 2px solid #000;
}

.btn-close{
    width:25px;
    background-size: 0.9em;
}